/* media--------------- */
@media (max-width: 1560px) {
  /* header  */
  .nav-li {
    padding: 15px 9px;
  }
}
@media (max-width: 1366px) {
  /* header  */
  .nav-li {
    padding: 7px 9px;
  }
  .navbar-side{
    margin-left: 60px;
    height: 60px;
  }
  .links {
    font-size: 20px;
  }
  .logo {
    padding: 10px !important;
    width: 120px;
    height: 120px;
  }
  .logo div{
    height: 85%;
    margin-top: 5px;
  }
  .space {
    width: 60px;
    height: 60px;
  }

  #library-left-elem{
    padding-left: 60px;
  }
}
@media (max-width: 1200px) {
  /* header  */
  .navbar-side{
    justify-content: flex-end !important;
  }
  .burger{
    display: flex;
  }
  .navbar{
    position: absolute;
    background: #212529eb;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: .2s;
  }
  .nav-li{
    text-align: center;
  }
  .collapse img{
    display: block;
  }
}
@media (max-width: 992px) {
  /* header  */
  .navbar-side{
    height: 50px;
    margin-left: 50px;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .space {
    width: 50px;
    height: 50px;
  }

  /* tabs  */
  #library-left-elem{
    padding-left: 50px;
  }
  .filter-items {
    font-size: 18px;
    padding: 11px 6px;
    justify-content: space-around !important;
  }
}
@media (max-width: 768px) {
  #library-left-elem li span{
    display: none;
  }
}
@media (max-width: 576px) {
    /* header  */
    .navbar-side{
      margin-left: 0px;
    }
    .logo {
      width: 90px;
      height: 90px;
    }
    .space {
      display: none;
    }
    .header-icons:nth-child(1){
      display: none;
    }

    /* tabs  */
    #library-left-elem{
      padding-left: 0px;
    }
}
@media (max-width: 320px) {
  /* header  */
  .logo{
    width: 170px;
    height: 50px;
  }
  .logo div{
    margin-top: 0;
    background: url(../img/responsiveLogo.svg) no-repeat center center / contain;
    width: 100%;
    height: 100%;
  }
  .header-icons{
    padding: 0;
    margin-right: 5px;
  }
}
/*grid responsive*/

@media (max-width: 1366px){
	.row:nth-child(4){
		display: none;
	}
}

