:root {
    --s-18px: 18px;
}

/* section one */
.section-one {
    padding-right: 0; 
    padding-left: 0;  
}
.background-wrapper {
    z-index: 0;
    left: 0;  
}
.background-wrapper::after {
    content: '';
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, transparent , #333333);
    position: absolute;
    opacity: 80%;
    bottom: 0;
    left: 0;
    display: block;
}
.background-img {
    width: 3.5240885416666665vw;
}

.background-content {
    max-width: 587px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.background-h2,
.background-img {
    margin-top: 1.89vw;
}




.background-h1,
.background-h2 {
    font-size: 1.95vw;
}

.background-h1 {
    font-weight: 400;
}

.background-h2 {
    font-weight: 300;
}





/* =========header================ */
header {
    z-index: 3;
}
.header-background{
    height: 240px;
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(255,255,255,1) 100%);
}
.header-background h1{
    font-family: 'DejaVu Sans';
    font-size: 30px;
    transform: translate(-50%, 190%);
}
.collapse-nav{
    margin-left: 80px;
}
.mobile-logo{
    width: 80px;
    height: 80px;
}
header li:hover{
    background-color: #34383d;
}

.button-wrapper{
    display: none;
    background-color: #c8c9ca;
    padding: 2px 20px;
}
.space{
    width: 80px;
    height: 80px;
}
.links {
    font-family: 'Noto Sans Georgian SemBd';
    font-size: 22px;
    position: relative;   
}
.nav-li:after{
    content: '';
    height: 24px; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 38%;
    background-color: #333321;
}
.header-icons:first-child:after{
    content: '';
    height: 24px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 12%;
    background-color: #333321;
}
.nav-li:last-child::after{
    display: none;
}
.nav-li{
    padding: 15px 35px;
}
.filter-section{
    height: 1269px;
}
.bg-col {
    background-color: #1E1E1D;
}
.filter-items{
    font-family: 'Noto Sans Georgian';
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-left: 1px solid #707070;
    max-height: 60px;
}


.header-icons{
    cursor: pointer;
    padding:0 25px;
}
/* Library content */

#content-background {
    font-family: 'Noto Sans Georgian';
    font-size: 18px;
    z-index: 2;
    background-color: #1E1E1D;
    height: calc(100% - 60px);
    color: white;
    padding: 25px 50px;  
    display: none;
}
#library-left-elem{
    cursor:pointer;
}



/* checkbox-------- */
.checkbox {
    display: flex;
    position: relative;
    cursor: pointer;
}
.checkbox input {
    opacity: 0;
    margin-right: 15px;
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
}
.checkbox input:hover {
    --s: 2px;
    --b: #808080;
}
.search-btn{
    margin-right: 10px;
}
.checkbox-test{
    width: 17px;
    height: 17px;
    border: 2px solid white;
    position: absolute;
    top: 5px;
    left: 2px;
}
.checkbox-test:hover{
    border: 2px solid rgba(255, 255, 255, 0.753);
}
.checkbox-test::after{
    content: "";
    background-image: url(../img/check.svg);
    top: -3px;
    left: -3px;
    width: 20px;
    height: 14px;
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.checkbox input:checked + .checkbox-test::after {
    display: block;
}



.lecturers {
    margin: 40px 0 40px 20px;
    max-height: 770px;
}
.lecturers div{
    margin-bottom: 15px;
    cursor: pointer;
}
.lecturers::-webkit-scrollbar {
    width: 5px;
    
}
/* Handle */
.lecturers::-webkit-scrollbar-thumb {
    background:#f1f1f1;
    border-radius: 8px; 
}

/* Handle on hover */
.lecturers::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/*pagination*/
.pagination ul{
    width: 484px;
    margin-bottom: 135px;

}
.pagination ul li {
    list-style: none;
    line-height: 45px;
    font-size: 46px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination ul li.dots{
    cursor: default;
}
.pagination ul li:first-child{
    color: #E2E2F7;
}


/*here is footer css style*/
footer {
	color: #fff;
}

footer .footer-logo img {
    max-width: 100%; 
}

.z-index{
    z-index:1
}
.site-footer.style-3 {
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	background-color: #1E1E1D; 
}

  .widget a i{
	  color: #fff;
	  width: 31px;
	  height: 31px;;
  }
  .widget a{

  	color: #fff;
    font-family: 'DejaVu Sans';
	text-decoration: none;
	font-size: 18px;
  }

.confidence{
    font-family: 'Noto Sans Georgian';
    font-size: 16px;
    font-weight: lighter;
    color: #E2E2F7;
}
.widget_poster {
	margin-bottom: 0px;
}
/*end*/


/*grid-systems styles*/
.grid-system {
    margin-bottom: 180px;
}

.rotate-title{
    transform: rotate(-90deg);
}
.relative-box img{
    max-width: 400px;
    max-height: 390px;
    object-fit: cover;
}

.relative-box {
    max-width: 400px;
    max-height: 390px;
}
.relative-second-box{
      min-height: 538px;
      height: 100%;
      background-color: #333333;
      opacity: 80%;
}

.second-box-p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-top: 155px;
}

.second-box-container {
    margin-left: 11px;
    margin-bottom: 24.5px;
}

.second-box-container-p {
    font-weight: 300;
    font-size: var(--s-18px);
}

.second-box-container-h6 {
    font-weight: 400;
    font-size: var(--s-18px);
} 

.relative-box-p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}


.view-container {
    margin-top: 12.2px;
    margin-right: 10px;
}

.view-container-span {
    font-size: 14px;
    font-weight: 200;
}

.col-p {
    color:  #1E1E1D;
    font-size: var(--s-18px);
    font-weight: 300;
    margin-top: 15px;
}

.col-h6 {
    color: #1E1E1D;
    font-size: var(--s-18px);
    font-weight: 400;
    margin-top: 16.5px;
}

.box-content {
    margin-top: 14.2px;
}

.box-content-p {
    color: #1E1E1D;
    font-size: var(--s-18px);
    font-weight: 300;
    margin-left: 5px;
}

.box-content-icon {
    color: #FF4C65;
    font-size: 32px;
}

.box-lock img {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* media--------------- */
@media (max-width: 1480px){
    .nav-li{
        padding: 15px 10px
    }
    .links {
        font-size: 14px;
    }
}
@media(max-width: 992px){
    .space{
        display: none;
    }
    .header-icons img{   
        width: 20px;
    }
    .button-wrapper{
        display: flex;
    }
    .logo{
        display: none;
    }
    .icons{
        padding: 15px 50px;
    }
    hr{
        color: white;
    }
}
