:root {
    --s-18px: 18px;
}




/* section one */
.section-one {
    padding-right: 0; 
    padding-left: 0;
    
}


.background-wrapper {
    z-index: 0;
    left: 0;
    
}

.background-wrapper::after {
    content: '';
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, transparent , #333333);
    position: absolute;
    opacity: 80%;
    bottom: 0;
    left: 0;
    display: block;
}

.background-img {
    width: 3.5240885416666665vw;
}

.background-content {
    max-width: 587px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.background-h2,
.background-img {
    margin-top: 1.89vw;
}




.background-h1,
.background-h2 {
    font-size: 1.95vw;
}

.background-h1 {
    font-weight: 400;
}

.background-h2 {
    font-weight: 300;
}





/* =========header================ */


.header{
   width: 100%;
   z-index: 3;
}
.collapse-nav{
    margin-left: 80px;
}
.mobile-logo{
    width: 80px;
    height: 80px;
}
header li:hover{
    background-color: #34383d;
}
.fa-user-alt, .fa-search{
    color: white;
    font-size: 28px;
    padding: 0 30px;
}
.fa-search:after {
    content: '';
    height: 20%;
    width: 1px;
    position: absolute;
    right: 91px;
    background-color: #333321;
}
.button-wrapper{
    display: none;
    width: 100%;
    background-color: #c8c9ca;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
}
.space{
    width: 80px;
    height: 80px;
}
.links {
    font-family: 'Noto Sans Georgian SemBd';
    font-size: 22px;
    position: relative;   
}
.nav-li:after{
    content: '';
    height: 24px; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 38%;
    background-color: #333321;
}
.header-icons:first-child:after{
    content: '';
    height: 24px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 12%;
    background-color: #333321;
}
.nav-li:last-child::after{
    display: none;
}
.nav-li{
    position: relative;
    padding: 15px 35px;
}
.filter-section{
    padding: 0;
}

.bg-col {
    background-color: #1E1E1D;
}
.filter-items{
    font-family: 'Noto Sans Georgian';
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-left: 1px solid #707070;

}
.icons{
    display: flex;
}
.header-icons{
    position: relative;
    cursor: pointer;
    padding:0 25px;
}

@media (max-width: 1480px){
    .nav-li{
        padding: 15px 10px
    }
    .links {
        font-size: 14px;
    }
}




/* Library content */

#library-content {
    max-width: 369px;
    width: 100%;
    height: 1400px;
    z-index: 1;
    display: none;
    background-color: #1E1E1D;
    color: white;
    padding: 25px 50px;
    
}
#library-left-elem{
    cursor:pointer;
}

/* checkbox-------- */
.checkbox {
    display: flex;
    --background: #fff;
    --border: #D1D6EE;
    --border-hover: #BBC1E1;
    --border-active: #dbdbdb;
    --tick: #fff;
    position: relative;
    font-family: 'Noto Sans Georgian';
    font-size: 18px;
    cursor: pointer;
  }
  .checkbox input,
  .checkbox svg {
    width: 21px;
    height: 21px;
    display: block;
  }
  .checkbox input {
    margin-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: #ffffff00;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 2px) var(--b, var(--border));
  }
  .checkbox input:hover {
    --s: 2px;
    --b: #808080;
  }
  .checkbox input:checked {
    --b: var(--border-active);
  }
  .checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }
  .checkbox.path input:checked {
    --s: 2px;
    transition-delay: 0.4s;
  }
  .checkbox.path input:checked + svg {
    --a: 16.1 86.12;
    --o: 102.22;
  }
  .checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
  }
  .checkbox.bounce {
    --stroke: var(--tick);
  }
  .checkbox.bounce input:checked {
    --s: 11px;
  }
  .checkbox.bounce input:checked + svg {
    -webkit-animation: bounce 0.4s linear forwards 0.2s;
            animation: bounce 0.4s linear forwards 0.2s;
  }
  .checkbox.bounce svg {
    --scale: 0;
  }
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 65%;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons button:first-child{
    width: 43%;
}

/*here is footer css style*/
footer {
	color: #fff;
}

footer .footer-logo img {
    max-width: 100%; 
}

.z-index{
    z-index:1
}
.site-footer.style-3 {
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	background-color: #1E1E1D; 
}

  .widget a i{
	  color: #fff;
	  width: 31px;
	  height: 31px;;
  }
  .widget a{

  	color: #fff;
	  text-decoration: none;
	  font-size: 18px;
  }


.widget_poster {
	margin-bottom: 0px;
}
/*end*/


/*grid-systems styles*/
.section-two {
    margin-bottom: 180px;
}

.rotate-title{
    transform: rotate(-90deg);
}
.relative-box img{
    max-width: 400px;
    max-height: 390px;
    object-fit: cover;
}

.relative-box {
    max-width: 400px;
    max-height: 390px;
}
.relative-second-box{
      min-height: 538px;
      height: 100%;
      background-color: #333333;
      opacity: 80%;
}

.second-box-p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-top: 155px;
}

.second-box-container {
    margin-left: 11px;
    margin-bottom: 24.5px;
}

.second-box-container-p {
    font-weight: 300;
    font-size: var(--s-18px);
}

.second-box-container-h6 {
    font-weight: 400;
    font-size: var(--s-18px);
} 

.relative-box-p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}


.view-container {
    margin-top: 12.2px;
    margin-right: 10px;
}

.view-container-span {
    font-size: 14px;
    font-weight: 200;
}

.col-p {
    color:  #1E1E1D;
    font-size: var(--s-18px);
    font-weight: 300;
    margin-top: 15px;
}

.col-h6 {
    color: #1E1E1D;
    font-size: var(--s-18px);
    font-weight: 400;
    margin-top: 16.5px;
}

.box-content {
    margin-top: 14.2px;
}

.box-content-p {
    color: #1E1E1D;
    font-size: var(--s-18px);
    font-weight: 300;
    margin-left: 5px;
}

.box-content-icon {
    color: #FF4C65;
    font-size: 32px;
}

.box-lock img {
    margin-right: 10px;
    margin-bottom: 10px;
}


/* key-frames------------------ */
  
@-webkit-keyframes bounce {
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes bounce {
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

/* media--------------- */
@media(max-width: 992px){
    .space{
        display: none;
    }
    .header-icons img{   
        width: 20px;
    }
}
@media(max-width: 992px){
    
    .button-wrapper{
        display: flex;
    }
    .logo{
        display: none;
    }
    .icons{
        padding: 15px 50px;
    }
    hr{
        color: white;
    }
}
